<div id='flash'>
  <% flash.each do |type, message| %>
    <div class='alert alert-success'>
      <button aria-hidden='true' class='close' data-dismiss='alert'>×</button>
      <li><%= message %></li>
    </div>
  <% end %>
</div>